.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
  padding-top: 2ex;
  padding-bottom: 1ex;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Month-select {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}


.search-bar-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}



.search-bar-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 12px;
  text-align: center;
}


.search-bar-flex-container {
  display: flex;
}


.search-bar-flex-container > div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  padding: 20px;
  font-size: 12px;
  text-align: center;
}


.search-bar-date-picker-flex-container {
  float: inherit;
  display: flex;
  flex-direction: row;
}

.top-row {
  padding-top: 3ex
}

.yellow-line { border-bottom: 3px solid #ffd60f; }


.center-display {
  display: flex;
  align-items: center;
  justify-content: center;
}