.calendar-container {
  width: 360px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  border: 2px solid #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*  SECTIONS  */
.section_mp {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col_mp {
  display: block;
  float:left;
  text-align: center;
}
.col_mp:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group_mp:before, .group:after {
  content:"";
  display:table;
}
.group_mp:after {
  clear:both;
}
.group_mp {
  zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_1_of_3_mp { width: 33.33%; }

.col_mp{
  font-size: 16px;
  padding-bottom: 5px;
  padding-top:5px;
}

.col_mp:hover{
  color:white;
  background-color: darkslateblue;
  cursor: pointer;
}
.selected_date_mp{
  font-size:12px;
  color:darkslateblue;
  font-weight: bold;
}
.selected_cell{
  background-color: darkslateblue;
  font-style: italic;
  color: #fff;
}
.arrows_mp{
  font-weight: bold;
  font-size: 18px;
}


#month-select-input-id >input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}